<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mumblr</title>
	<!--<link rel="stylesheet" href="../static/css/styles.css">-->
	<link rel="stylesheet" href="../../css/flatly-bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>Create Post</h1>
		<form>
			<textarea class="form-control" id="content" rows="3"></textarea>
			<input type="hidden" id="poster" value="${loginUser.id}">
		</form>
	</div>
</body>
</html>