<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mumblr</title>
	<!--<link rel="stylesheet" href="../static/css/styles.css">-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../../js/home.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../../css/flatly-bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>Create Post</h1>
		<h2 th:text="${session.userAcc.id}"></h2>
		<form action="createpost" method="post">
			<textarea class="form-control" id="content" name="content" rows="3"></textarea>
			<input type="hidden" id="poster" name="poster"value="${session.userAcc.id}">
			<input type="hidden" id="postDate" name="postDate">
			<input type="hidden" id="postTime" name="postTime">
			<!-- <input type="hidden" id="likes" name="likes"value="0"> -->
			<button type="submit" id="post_btn" class="btn btn-info">Post!</button>
		</form>
	</div>
</body>
</html>